.resetcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.resetcontainer .resetformlayout {
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(19, 35, 47, 0.9);
}
.resetformlayout h1 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.resetformlayout .jss448 {
  width: 55px;
  height: 4px;
  margin: 8px auto 10px;
  display: block;
  background-color: #1ab188;
}

.resetformlayout .MuiOutlinedInput-input {
  padding: 10px 14px;
  width: 350px !important;
  background-color: white !important;
  border-radius: 4px;
}

.resetformlayout .btn {
  text-align: center;
}

.resetformlayout .MuiButton-outlinedSecondary{
  background-color: #1ab188;
  width: 180px;
  color: #FFFF;
  border: none;
  margin-top: 7px;
  padding: 7px 15px;
  margin-bottom: 8px;
  font-family: 'Poppins', sans-serif;
}
.resetformlayout .MuiButton-outlinedSecondary:hover{
  background-color: #1ab188;
  border: none;
}

.resetformlayout .MuiInputLabel-outlined{
  transform: translate(14px, 14px) scale(1);
}
.resetformlayout .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #1ab188;
  border-width: 1px;
}
.resetformlayout .MuiFormLabel-root.Mui-focused{
  color: #1ab188;
}
.resetformlayout .MuiFormControl-marginNormal{
  margin-top: 8px;
  margin-bottom: 8px;
}
.resetformlayout .MuiFormLabel-root{
  font-family: 'Poppins', sans-serif;
}
.resetformlayout .MuiInputLabel-outlined.MuiInputLabel-shrink{
  color: #1ab188;
}