.resetcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.resetcontainer .resetformlayout {
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #fff5f8;
}
.resetformlayout h1 {
  text-align: center;
  text-transform: uppercase;
}
.resetformlayout .jss448 {
  width: 55px;
  height: 4px;
  margin: 8px auto 0;
  display: block;
  background-color: #ff3366;
}

.resetformlayout .MuiOutlinedInput-input {
  padding: 18.5px 14px;
  width: 350px !important;
  background-color: white !important;
}

.resetformlayout .btn {
  float: right;
}
