.changepasswordincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.changepasswordincontainer .changepasswordinformlayout {
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(19, 35, 47, 0.9);
}
.changepasswordinformlayout h1,
.changepasswordinformlayout h5,
.changepasswordinformlayout .forgotpassword {
  text-align: center;
  color: #fff;
}
.changepasswordinformlayout h1 {
  font-size: 24px;
}
.changepasswordinformlayout .jss448 {
  width: 55px;
  height: 4px;
  margin: 0px auto 10px;
  display: block;
  background-color: #1ab188;
}
.changepasswordinformlayout .MuiOutlinedInput-input {
  padding: 10px 14px;
  width: 350px !important;
  background-color: white !important;
  border-radius: 4px;
}

.changepasswordinformlayout .nav-link {
  text-decoration: none;
  color: #999;
}
.changepasswordinformlayout .MuiButton-outlinedSecondary {
  background-color: #1ab188;
  width: 380px;
  color: #ffff;
  border: none;
  margin-top: 7px;
  padding: 7px 15px;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
}
.changepasswordinformlayout .MuiButton-outlinedSecondary:hover {
  background-color: #1ab188;
  border: none;
}

.changepasswordinformlayout .MuiInputLabel-outlined {
  transform: translate(14px, 14px) scale(1);
}
.changepasswordinformlayout
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #1ab188;
  border-width: 1px;
}
.changepasswordinformlayout .MuiFormLabel-root.Mui-focused {
  color: #1ab188;
}
.changepasswordinformlayout .MuiFormControl-marginNormal {
  margin-top: 8px;
  margin-bottom: 8px;
}
.changepasswordinformlayout .MuiFormLabel-root {
  font-family: "Poppins", sans-serif;
}
.changepasswordinformlayout .MuiInputLabel-outlined.MuiInputLabel-shrink {
  color: #1ab188;
}

@media only screen and (max-width: 600px) {
  .changepasswordincontainer .changepasswordinformlayout {
    padding: 5px;
    width: 100%;
  }
  .changepasswordinformlayout h1 {
    font-size: 20px;
  }
  .changepasswordinformlayout .MuiFormControl-marginNormal {
    width: 100%;
  }
  .changepasswordinformlayout .MuiOutlinedInput-input {
    width: 100% !important;
  }
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(18px, -18px) scale(0.75) !important;
  }
  .changepasswordinformlayout .MuiButton-outlinedSecondary {
    background-color: #1ab188;
    border: none;
    width: 100% !important;
  }
}
