

.Container .button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 4px;
    width: 200px;
    background-color: #1ab188;
    color: white;
    font-size: 1rem;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

