.forgotconatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
}
.forgotconatiner .forgotlayout{
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #FFF5F8;
}
.forgotlayout .title{
    color: rgba(0, 0, 0, 0.87);
    font-size: 42px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 1.04;
    text-transform: uppercase;
}
.forgotlayout p{
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.forgotlayout .jss44S{
    width: 40px;
    height: 4px;
    margin: 8px auto 0;
    display: block;
    background-color: #ff3366;
}

.forgotlayout .MuiOutlinedInput-input{
    padding: 18.5px 14px;
    width: 250px !important;
    background-color: white !important;
    align-items: center;
}