.forgotconatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
}
.forgotconatiner .forgotlayout{
    text-align: center;
    padding: 15px;
    background-color: rgba(19, 35, 47, 0.9);
}
.forgotlayout .title{
    color: rgba(0, 0, 0, 0.87);
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.04;
    text-transform: uppercase;
}
.forgotlayout p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}
.forgotlayout .jss44S{
    width: 40px;
    height: 4px;
    margin: 8px auto 10px;
    display: block;
    background-color: #1ab188;
}

.forgotlayout .MuiOutlinedInput-input{
    padding: 10px 14px;
    background-color: white !important;
    align-items: center;
    border-radius: 4px;
}
.forgotlayout .MuiButton-outlinedSecondary{
    background-color: #1ab188;
    width: 180px;
    color: #FFFF;
    border: none;
    margin-top: 7px;
    padding: 7px 15px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}
.forgotlayout .MuiButton-outlinedSecondary:hover{
    background-color: #1ab188;
    border: none;
}
.forgotlayout .MuiInputLabel-outlined{
    transform: translate(14px, 14px) scale(1);
}
.forgotlayout .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #1ab188;
    border-width: 1px;
}
.forgotlayout .MuiFormLabel-root.Mui-focused{
    color: #1ab188;
}
.forgotlayout .MuiFormControl-marginNormal{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}
.forgotlayout .MuiFormLabel-root{
    font-family: 'Poppins', sans-serif;
}
.forgotlayout .MuiInputLabel-outlined.MuiInputLabel-shrink{
    color: #1ab188;
}