.ProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.ProfileContainer .profileLayout {
  background: 1px solid black;
  justify-content: center;
  align-items: center;
  padding: 55px;
  background-color: grey;
  color: white;
}
.profileLayout .card {
  height: 350px;
  max-width: 455px;
}
.profileLayout .media {
  height: 0;
  padding: "56.25% 0 0 0";
}
.profileLayout .expand {
  transform: "rotate(0deg)";
  margin-left: "auto";
  transition-duration: 10s height;
}
.profileLayout .expandOpen {
  transform: "rotate(180deg)";
}
.profileLayout .avatar {
  background-color: red;
}
.profileLayout .buttoncontainer {
  padding: 15px 0 0 0;
}
.profileLayout .MuiSlider-root {
  color: black;
}
.profileLayout .button {
  float: right;
}
